body{
margin:0;
font-family:Arial;
background:#f4f6f8;
}

/* MAIN GRID */

.layout{

display:grid;

grid-template-columns:220px 1fr 200px;

height:100vh;

}

/* LEFT MENU */

.sidebar{

background:#1e293b;
color:white;
padding:20px;

}

.sidebar h2{
margin-top:0;
}

.sidebar a{

display:block;

padding:10px;

margin:5px 0;

background:#334155;

color:white;

text-decoration:none;

border-radius:6px;

}

.sidebar a:hover{

background:#475569;

}

/* WORKSPACE */

.workspace{

padding:40px;

overflow:auto;

}

.upload-area{

border:2px dashed #6366f1;

padding:50px;

text-align:center;

border-radius:10px;

margin-top:20px;

cursor:pointer;

background:white;

}

.description{

margin-top:30px;

background:white;

padding:20px;

border-radius:8px;

}

/* OUTPUT */

#output{

margin-top:30px;

}

/* ADS */

.ads{

background:#f1f5f9;

padding:20px;

}
